body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
div{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form div {
    display: block;
    max-width: 200px;
    margin-top: 20px;
}

label{
    display: block;
}


.child-container{
    width: 100%;
}

.img {
    object-fit: cover;
    height:100vh;
    width: 100%;

}

.home-img {
    object-fit: cover;
    height: 85vh;
    width:auto;
    max-width: 100%;
}

.login-img {
    object-fit: cover;
    height:100vh;
    width: 100%;

}

.form-button {
    margin: 0 30px;
    display: flex;
  }
  
  .button:hover {
    background: gray;
  }

.header {
    background-color: #F8C4B4;
    height: 15vh;
}

.child-container.header-text{
    justify-content: flex-start;
}

.child-container.header-bookmark{
    justify-content: flex-end;
}

.logo{
    flex: 2;
    font-size: 3em;
    font-weight: bold;
}

.filter{    
    flex: 1;
    font-size: 1.5em;
}

.bookmark{
    flex: 0.25;
}

.bookmark-img{
    width: 30%;
    height:auto;
}

.showcase-img{
    object-fit: cover;
    height:80vh;
    width: auto;

}

div.form-entry{
    justify-content: flex-start;
    height:auto;
    padding: 3vh;
}

/* form.form-entry{
    display: table;
} */