{% extends 'base_nav_bar.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}

<div class="page-content-container">
    <div class="page-column-container">
        <img class="column-img-display" src="data:image/png;base64,{{value['artpic']}}"/>
    </div>

    <div class="page-column-container">
        <div class="card-in-column">
            <form method="POST" class="card-form">

                <div class="card-input-field">
                    <label for="card-number">Card Number: </label>
                    <input type="number" id="card-number" name="card-number"
                           style="width: 80%;-webkit-appearance: none;" required>
                </div>

                <div class="card-input-field">
                    <label for="expiration-date">Expiration Date: </label>
                    <input type="month" id="expiration-date" name="expiration-date" style="width: 80%;" required>
                </div>

                <div class="card-input-field">
                    <label for="cvv-code">CVV Code: </label>
                    <input type="number" id="cvv-code" name="cvv-code" style="width: 80%; -webkit-appearance: none;"
                           required>
                </div>

                <!--                <div class="card-input-field">-->
                <!--                    <label for="paid-amount">Paid Amount: </label>-->
                <!--                    <input type="number" id="paid-amount" name="paid-amount" style="width: 80%; -webkit-appearance: none;" required>-->
                <!--                </div>-->

                <div class="card-input-field">
                    <label for="shipping-address">Shipping Address: </label>
                    <input type="text" id="shipping-address" name="shipping-address"
                           style="width: 80%;" required>
                </div>

                <div class="card-input-field" style="text-align: center;">
                    <button type="submit" class="none-nav-button">Purchase</button>
                </div>

            </form>
        </div>
    </div>

</div>

{% endblock %}