{% extends 'base_nav_bar.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}

<div class="top-margin" style="flex-flow:wrap;">
    <div class="page-indicator">
        Gallery
    </div>

    <div style="display: block;">
    <div>
        {% if filter_display %}
                <div style="display: inline-block; padding: 2%; border-style: solid; border-radius: 25px;">
                    {{ filter_display }}
                </div>
        {% endif %}
    </div>

    {% for item in value %}
            <div class="gallery-img">
                <a href="{{url_for('img_display', img_id=item['info']['uid'])}}">
                    <img class="gallery-img" style="margin: 0px;" src="data:image/png;base64,{{item['artpic']}}"/>
                </a>

                <div style="display: block;">
                    <strong><label style="font-size: 1.5em;">{{item["info"]["name"]}}</label></strong>
                    <label>{{item["info"]["artist"]}}</label>
                    <label>${{ item["info"]["min_value"]}}</label>
                </div>


            </div>

    {% endfor %}
    </div>
</div>


{% endblock %}