{% extends 'base_nav_bar.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}

<div class="child-container top-margin">
    <img class="info-img" src="data:image/png;base64,{{value['artpic']}}"/>
</div>

<div class="child-container top-margin" style="display: block; max-height: 85vh;">
    <div class="art-desc-div" style="padding-top: 5vh;">
        <p class="art-name">{{value['info']['name']}}</p>
        <p style="font-style: italic; font-size: 1.5em; margin: 10px;">Authentic</p>
    </div>

    <div class="art-desc-div">
        <div style="display:flex; justify-content: center;">
            <div style="display: block;">
                <p class="art-desc"> <b>Genre: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> </p>
                <hr style="width: 100%;">
                <p class="art-desc"> <b>Medium: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> </p>
                <hr style="width: 100%;">
                <p class="art-desc"> <b>Surface: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                <hr style="width: 100%;">
                <p class="art-desc"> <b>Artist: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                <hr style="width: 100%;">
                <p class="art-desc"> <b>Date of Creation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> </p>
                <hr style="width: 100%;">
                <p class="art-desc"> <b> Location of Creation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
                <hr style="width: 100%;">
                <p class="art-desc"> <b> Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
            </div>

            <div style="display: block;">
                <p class="art-desc"> {{value['info']['genre'].title()}} </p>
                <hr style="width: 100%;">
                <p class="art-desc">  {{value['info']['medium'].title()}} </p>
                <hr style="width: 100%;">
                <p class="art-desc"> {{value['info']['surface'].title()}} </p>
                <hr style="width: 100%;">
                <p class="art-desc"> {{value['info']['artist'].title()}} </p>
                <hr style="width: 100%;">
                <p class="art-desc">  {{value['info']['created_date'].title()}} </p>
                <hr style="width: 100%;">
                <p class="art-desc">  {{value['info']['created_location'].title()}} </p>
                <hr style="width: 100%;">
                <p class="art-desc">  ${{value['info']['min_value']}} </p>
            </div>
        </div>
    </div>

    <div class="art-desc-div">
        <a href="{{url_for('buy_art', img_id=value['info']['uid'])}}">
            <button type="submit" class="none-nav-button">Purchase</button>
        </a>
    </div>




</div>

{% endblock %}