{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="child-container">
    <img class = "login-img" src="/static/images/monalisa.jpeg">
</div>

<div class="child-container" style="flex-flow:wrap; height: 100vh;">
    <div class="page-indicator">
        Login
    </div>

    <form method="POST">
        {% if error_msg %}
            <div style="color: red;">
                {{ error_msg }}
            </div>
        {% endif %}

        <div>
            <label for="email-or-phone">Email or Phone Number: </label>
            <input type="text" id="email-or-phone" name="email-or-phone">
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
        </div>

        <div style="display: flex;">
            <button type="submit" class="form-button" name="submit-button" value="login">Login</button>
            <button type="submit" class="form-button" name="submit-button" value="register" onclick="{{url_for('signup_user')}}">Register</button>
        </div>
    </form>
</div>

{% endblock %}