{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}


<div class="child-container">
    <img class = "login-img" src="/static/images/monalisa.jpeg">
</div>

<div class="child-container" style="height: 100vh;">
    <div class="card-in-column">

        <form method="POST" class="card-form">
            <p class="page-indicator" style="margin: 0;">Register</p>
            {% if error_msg %}
                <div style="color: red; text-align: left;">
                    {{ error_msg }}
                </div>
            {% endif %}
            <div style="text-align: left;">
                <label for="name">Name: </label>
                <input type="text" id ="name" name="name" style="width: 100%;">
            </div>
            <div style="text-align: left;">
                <label for="email">Email: </label>
                <input type="text" id="email" name="email" style="width: 100%;">
            </div>
            <div style="text-align: left;">
                <label for="phone-number">Phone Number: </label>
                <input type="text" id="phone-number" name="phone-number" style="width: 100%;">
            </div>
            <div style="text-align: left;">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" style="width: 100%;">
            </div>
            <div style="text-align: left;">
                <label for="confirm-password">Confirm Password: </label>
                <input type="password" id="confirm-password" name="confirm-password" style="width: 100%;">
            </div>
            <div style="text-align: left;">
                <label for="invitation-code">Invitation code: </label>
                <input type="text" id="invitation-code" name="invitation-code" style="width: 100%;">
            </div>
            <div>
                <button type="submit" class="none-nav-button" name="submit-button" value="go_back" onclick="{{url_for('signup_user')}}">Go Back</button>
                <button type="submit" class="none-nav-button" name="submit-button" value="register">Register</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}